# Allow the mod to patch vanilla block hardness at runtime.
public net.minecraft.world.level.block.state.BlockBehaviour properties
public-f net.minecraft.world.level.block.state.BlockBehaviour soundType
public net.minecraft.world.level.block.state.BlockBehaviour$Properties destroyTime
public net.minecraft.world.level.block.state.BlockBehaviour$Properties soundType
public-f net.minecraft.world.level.block.state.BlockBehaviour$BlockStateBase destroySpeed
